body {
  background-color: #396c9f;
}

.resultado {
  color: white;
}
.resultado h2 {
  font-weight: bold;
  color: white;
}
.resultado p {
  font-size: 18px!important;
}
.resultado p span {
  font-weight: bold;
  color: #000;
}
p.precio{
  font-size: 25px!important;
}
